.column-1-3 {
  float: left;
  width: 270px;
  margin-left: 20px;
}

@media (max-width: 960px) {
  .column-1-3 {
    float: none;
    width: 270px;
    margin-left: 20px;
  }
}

.column-1-2 {
  float: left;
  width: 530px;
}

.column-1-2-campus {
  float: left;
  width: 40%;
}

@media (max-width: 480px) {
  .column-1-2-campus {
    float: none;
    width: auto;
  }
}


.buffer-both {
  margin-top: 80px;
  margin-bottom: 40px;
}

.buffer-left {
  margin-left: 40px;
}

.container {
  /*float: left;*/
  max-width: 840px;
  margin-left: 20px;
  margin-right: auto;
}
