.column-1-3 {
  float: left;
  width: 270px;
  margin-left: 20px;
}

.column-1-2 {
  float: left;
  width: 530px;
}

.column-1-2-campus {
  width: 40%;
  float: left;
}

.buffer-both {
  margin-top: 80px;
  margin-bottom: 40px;
}

.buffer-left {
  margin-left: 40px;
}

.container {
  float: left;
  max-width: 840px;
  margin-left: 20px;
  margin-right: auto;
}
